.titre{

}
.sous-titre1
{
    background: red;
}
.menu-titre
{

}
.grandTitre
{

}
.sous-titre
{

}
.ensemble
{
    box-sizing : border-box ;
    position: relative;
    width :255px ;
    float : left;
    
    

}
