.titre{

}
.sous-titre1
{
    background: red;
}
.menu-titre
{

}
.grandTitre
{

}
.sous-titre
{

}
.ensemble
{
    box-sizing : border-box ;
    position: relative;
    width :255px ;
    float : left;
    
    

}
.fot{
   
    height: 150px;
    width: 150px;
    position: relative;
    
}
.list {
    margin-bottom: 12px;
    position:relative;
    width: 500px;
    height :400px;
    display :-webkit-flex ;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -12px;
    
}
.entete{
    height: 200px;
    
}
.milieu{
    background: sienna;
    background-color: rgb(214, 154, 127);
}

.menu{

    color:yellow ;
    height: 100%;
    float: right ;
}